@import "tailwindcss";

@keyframes rotate-border {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@utility animate-rotate-border {
  animation: rotate-border 6s linear infinite;
}
